/*bootstrap specific*/
.has-error{
	background-color:#DEA2A8;
}

.row{
  padding-bottom: 20px;
  vertical-align: bottom;
}

.container {
	width : 1080px;
}

body {
	padding-top:200px;
	font-family: 'Press Start 2P';
	background-color:#000000;
	background-image: url(../assets/BG.png);
}

/* landing */
#landfirst {
	width : 100%;
	height : 600px;
}

#landsecond {
	width : 100%;
	height : 200px;
	padding-top : 10px;
	background-color:#696969 ;
}

#landthird {
	width : 100%;
	height : 50px;
	background-color : #241D18 ;
}

#description{
	color:#FFFFFF;
	padding-left: 10px;
	text-align: left;
}

/* dashboard */

#task-container {
	width : 500px;
}

#task-list {
	height: 500px;
	overflow : scroll;
	background-color: #BEB0B0;
}

input#task-description[type="text"] {
	height: 60px;
	line-height: 14px;
}

/*Jumbotron crap for the dashboard-*/
.jumbotron { padding: 20px 5px 20px 15px; 
margin-bottom: 10px; 
margin-top: 10px; 
margin-left: 5px; 
margin-right: 5px; 
font-size: 18px;  
: #fffffff; 
background-color: #000000;  
border: 4px solid #6CB2F0;}

#stat_font{
	color:#FFFFFF;
	text-align: center;
}


