<div id='landfirst'>
<div class='container'>
<!--images-->
	<div class= 'row'>

		<div align="center" class = 'col-md-6'>
			<center><img class='media-object pull-center' src='../assets/book.png'></center>
		</div>

		<div align="center" class = 'col-md-6'>
			<center><img class='media-object pull-center' src='../assets/coinbig.png'></center>
		</div>

	</div>
<!--info-->
	<div class= 'row'>

			<div align="center" class = 'col-md-6'>
			<img src = "http://i.imgur.com/4fu3Ipx.png">
			<br \>
			<div id = 'description'>
			<li>Schedule tasks to complete.</li>
		    <li>Receive notifications through your phone, browser or email.</li>

			</div>	
		</div>

		<div align="center" class = 'col-md-6'>
			<img src = "http://i.imgur.com/sA3ZLV7.png">
			<br \>
			<div id = 'description'>
			<li>Complete your tasks and confirm through the site to receive experience and other rewards.</li>

			</div>	
		</div>

	</div>

<!--images-->
		<div class= 'row'>

		<div align="center" class = 'col-md-6'>
			<center><img class='media-object pull-center' src='../assets/piggy.png'></center>
		</div>

		<div align="center" class = 'col-md-6'>
			<center><img class='media-object pull-center' src='../assets/cow_colors.png'></center>
		</div>
	</div>

<!--info-->
		<div class= 'row'>
			<div align="center" class = 'col-md-6'>
				<img src = "http://i.imgur.com/XmSB57v.png">
				<br \>
			<div id = 'description'>
			<li>With each adventure, strengthen your character,and level up as you complete tasks.</li>
			<li>Unlock new characters each level.</li>
			</div>	
			</div>	

			<div align="center" class = 'col-md-6'>
				<img src = "http://i.imgur.com/X371KWZ.png">
				<br \>
			<div id = 'description'>
			<li>Create your own identity and build a character from a wide cast of characters, including mercenary cows, pig ninjas and more.</li>
			</div>	
			</div>
	</div>

	
</div>
</div>

<div id='landsecond'>
	<center><img src = '../assets/cow_running.gif'></img>
		<img src = '../assets/fence.png'</img></br>
	<button type="submit" class="btn btn-info">Visit us on Twitter</button></center>
</div>

<div id='landthird'>
</div>
