<div id='landfirst'>
	<a href='#/dashboard-myid'>	
		<button class='btn btn-default'>
			dashboard
		</button>
	</a>
</div>

<div id='landsecond'>
	<div class='container'>
		<div class='row'>
			
			<div class='col-md-4'>
				<div class='media'>
					<img class='media-object pull-left' src='../assets/coin.png'>
					<div class='media-body'>
						<h4 class='media-heading'>Customization</h4>
					</div>
				</div>
			</div>
			
			<div class='col-md-4'>
				<div class='media'>
					<img class='media-object pull-left' src='../assets/rsz_knight.png'>
					<div class='media-body'>
						<h4 class='media-heading'>Customization</h4>
					</div>
				</div>
			</div>
			
			<div class='col-md-4'>
				<div class='media'>
					<img class='media-object pull-left' src='../assets/rsz_knight.png'>
					<div class='media-body'>
						<h4 class='media-heading'>Customization</h4>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>

<div id='landthird'>
</div>
